/* ####################################### */
/* GENERAL CSS                             */
/* ####################################### */

body {
  height: 100vh;
  min-height: 600px;
  display: grid;
  align-items: center;
  background-color: #1c1a2d;
  font-size: 18px;
}

.container {
  background-color: #ead2b7;
}

.btn {
  background-color: #f46e31;
  color: #fff;
  font-weight: 600;
  transition: all 500ms ease;
}

.btn:hover {
  background-color: #1c1a2d;
  color: #fff;
}

.alert {
  background-color: rgba(246, 95, 25, 0.3);
  color: #1c1a2d;
  font-weight: 600;
}

h1 {
  color: #f46e31;
  font-weight: 700;
}

/* ####################################### */
/* TAB                                     */
/* ####################################### */

.tab {
  height: 700px;
}

.nav a {
  font-weight: 600;
  color: #1c1a2d;
}

.nav-pills {
  gap: 1rem;
}

.nav-pills .nav-link.active {
  background-color: #f46e31;
}

.nav-pills .nav-link {
  border: 2px solid transparent;
  transition: all 500ms ease;
}

.nav-pills .nav-link:not(.active):hover {
  border: 2px solid #f46e31;
}
